
.currency-chart {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: calc(70% - 0.5rem);
  height: calc(100% - 1rem);
  border: 2px solid #012661;
  display: inline-block;
  background-color: #012661;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.currency-info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  vertical-align: top;
  width: calc(30% - 1.25rem);
  height: calc(100% - 1rem);
  background-color: white;
  overflow: hidden;
  display: inline-block;
}

.currency-title {
  height: 1.6em;
  line-height: 1.6em;
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 1.6em;
  background-color: #012661;
  color: white;
  overflow: hidden;
  display: block;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.currency-price {
  height: 2em;
  line-height: 2em;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  vertical-align: top;
  background-color: white;
  display: block;
  overflow: hidden;
}

.currency-deltas {
  height: 8.5em;
  line-height: 1.2em;
  font-size: 1em;
  width: 100%;
  text-align: left;
  vertical-align: top;
  background-color: white;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 749px) {
  .currency-chart {
    width: calc(55% - 0.5rem);
  }
  .currency-info {
    width: calc(45% - 1.25rem);
  }
}
