.feed a{
  color: inherit;
}

.article {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2px;
  padding-left: 3px;
}

.article-title {
  font-size: 1.05em;
}

.article-meta {
  font-size: 0.85em;
  opacity: 0.7;
  font-style: italic;
}
