html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-page {
  height: 93.5%;
}

.navbar {
  height: 6.5%;
}

@media screen and (max-width: 749px) {
    .desktop-only {
      display: none;
    }
}
