html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-page {
  height: calc(100% - 3.5rem);
  width: 100%;
  display: inline-block;
}

.navbar {
  width: 100%;
}

@media screen and (max-width: 749px) {
    .desktop-only {
      display: none;
    }
    .main-panel {
      width: 100%;
    }
}

.borderless {
  border: none;
}

.red {
  color: red;
}

.green {
  color: green;
}
