@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Nunito');

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.main-page {
  height: calc(100% - 3.5rem);
  width: 100%;
  display: inline-block;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  background-color: #012661;
}

.green {
  color: green;
}

.red {
  color: red;
}

.center-text-panel {
  height: 100%;
  width: 100%;
  padding: 3%;
  text-align: center;
}

.large-logo {
  height: 5em;
  width: 5em;
  margin: 1em;
}

@media screen and (max-width: 749px) {
    .desktop-only {
      display: none;
    }
    .main-panel {
      width: 100%;
    }
}

.borderless {
  border: none;
}
